<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @jet.title %>
</p>

<p>
  <strong>Make:</strong>
  <%= @jet.make %>
</p>

<p>
  <strong>Jet model:</strong>
  <%= @jet.jet_model %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @jet.serial_number %>
</p>

<p>
  <strong>Year:</strong>
  <%= @jet.year %>
</p>

<p>
  <strong>Price:</strong>
  <%= @jet.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@jet.description) %>
</p>

<form action="http://vanceengles.com">
    <input type="submit" value="Make Offer">
</form>

<%= link_to 'Back', jets_path %>

